---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { ProtectedGraph } from '../../components/pages/ProtectedGraph';
---

<BaseLayout title="Knowledge Graph">
  <div class="h-full">
    <ProtectedGraph client:load />
  </div>
</BaseLayout>

<style>
  div {
    height: calc(100vh - 4rem);
  }
</style>
