---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { ProtectedDocumentDetail } from '../../../components/pages/ProtectedDocumentDetail';

export const prerender = false;
---

<BaseLayout title="Document Details">
  <div class="h-[calc(100vh-4rem)]">
    <ProtectedDocumentDetail client:load />
  </div>
</BaseLayout>
